/* Universal Styles */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 16px;
  color: #10334f;
  font-family: "PT Serif", serif;
}

main,
footer {
  margin-top: 64px;
}

h1,
h2,
h3,
h4 {
    font-family: "Patua One";
    line-height: 1.1em;
}

h1 {
  font-size: 3.052rem;
  margin-bottom: 24px;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.563rem;
}

p {
  line-height: 1.3em;
}

strong {
  font-weight: bold;
  color: #10334f;
}

a {
  color: #3129C1;
}



.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text p,
.text a {
  padding: 8px 0 0 0;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

nav a {
  margin-left: 16px;
  color: black;
}

a {
  transition: color 1ms ease-in 1ms;
}

a:hover {
  color: #C51A15;
}

@media only screen and (min-width: 650px) {
  .special {
      background-color: #D9DBA9;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

.desktop-header {
  display: none;
}

.logo-mobile {
    height: 32px;
    width: auto;
}

.main-nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
}

@media only screen and (min-width: 730px) {
    .main-nav-mobile {
      display: none;
    }

    .desktop-header {
      display: flex;
      justify-content: space-between;
      margin: auto 24px;
      width: 100%;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo span {
      text-transform: uppercase;
      font-size: 20px;
      color: #D9DBA9;
      font-family: "Patua One";
    }

    .logo img {
      height: 32px;
    }

    .desktop-header nav {
      display: flex;
      font-size: 20px;
      align-items: center;
    }

    .login {
      display: flex;
      align-items: center;
    }
}

/* banner */

.banner {
  background-color: #D9DBA9;
}

.banner-words {
  padding: 32px 16px;
  text-align: center;
}

.banner img {
  width: 100%;
  height: auto;
}

.btn {
    background-color: #C51A15;
    text-align: center;
    font-weight: bold;
    color: #F1FAD2;
    font-size: 20px;
    padding: 8px 0;
    margin-top: 24px;
    width: 100%;
    border-radius: 3px;
    transition: background-color 2ms ease-in 3ms;
}

.btn:hover {
  background-color: #f00;
}

/*  Condsider a tablet header */

@media only screen and (min-width: 650px) {

  .banner {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .banner img {
    width: 60%;
    height: 100%;
    padding: 32px 24px;
  }

  .banner-words {
    text-align: left;
    margin-right: 72px;
  }
}

/* about */

.main,
.desktop-image {
  display: none;
}

.about {
  padding-bottom: 32px;
}

.mobile-image {
  display: block;
  width: 100%;
}

.about-item {
  width: 100%;
  height: auto;
  padding: 16px;
}

.about-item .text {
  padding: 16px 16px 0 16px;
}

/* add tablet media querie  */

@media only screen and (min-width: 700px){

  .about {
    display: flex;
    background-color: #F1FAD2;
    width: 100%;
  }

  .main {
    flex-shrink: 2;
    display: block;
    width: 60%;
    padding: 32px 24px 0 24px;
}

    .main img {
      width: 100%;
      padding-bottom: 32px;
    }

    .name {
      margin-top: 32px;
    }

    .secondary {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-top: 16px;
      min-width: 420px;
    }

    .about-item {
      display: flex;
    }

    .mobile-image {
      display: none;
    }

    .desktop-image {
      display: inline-block;
      width: 35%;
      height: 100%;
    }
}

/* courses */

.courses img, .words p {
  display: none;
}

.courses {
  padding: 32px 0;
  border-top: 1px solid #D9DBA9;
}

.course {
  padding: 16px;
  background-color: #D9DBA9;
  margin: 16px;
  transition: position, box-shawdow 20ms ease-in 10ms;
}

.course:hover {
  position: relative;
  top: -12px;
  left: -12px;
  box-shadow: 5px 5px 8px #888888;
}

@media only screen and (min-width: 650px){

  .courses img, .words p {
    display: inline-block;
  }

  .courses {
      background-color: #D9DBA9;
      padding: 32px 16px;
  }

  .courses .container {
    justify-content: space-between;
    width: 100%;
  }

  .course {
    width: 28%;
    background-color: white;
  }

  .course img {
    width: 100%;
  }

  .course .uppercase {
    text-transform: uppercase;
  }

  .course .words {
    padding: 16px;
  }

}

@media only screen and (min-width: 1090px) {
  .courses {
      padding: 32px 56px;
  }

  .course {
    width: 30%;
  }
}

/* thesis */

.thesis-items,
.thesis h4,
.thesis p {
  display: none;
}

.thesis {
  padding: 32px 0 24px 0;
  border-top: 1px solid #D9DBA9;
}

video {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 650px){

  .thesis-items,
  .thesis h4,
  .thesis p {
    display: inline-block;
  }

  .thesis {
    padding: 32px 0;
    background-color: #F1FAD2;
    border-bottom: 2px solid #D9DBA9;
  }

  .video {
    width: 60%;
    height: 100%;
    padding: 0 24px;
  }

   video {
     padding-bottom: 24px;
   }

  .thesis-items {
    width: 40%;
  }

  .thesis-item + .thesis-item {
    padding-top: 16px;
  }

  .thesis-item {
    display: flex;
  }

  .thesis-item img {
    width: 35%;
    height: 100%;
    padding: 16px;
  }

}

/* footer */

.sec-nav {
  display: none;
}

.footer {
  padding: 16px;
  color: black;
}

@media only screen and (min-width: 600px) {

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 48px 16px;
    height: 72px;
  }

  .sec-nav {
    display: flex;
  }

  .sec-nav a {
    margin: 16px;
  }

}
